openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure Arc Resource Bridge
  description: Arc resource bridge appliances connecting on-premises infrastructure (Microsoft.ResourceConnector).
  contact:
    name: StackQL Studios
    url: https://stackql.io/
    email: info@stackql.io
  version: 2025-03-01-preview-stackql-generated
  x-serviceAlias: resource_connector
  x-sdkPackage: azure-mgmt-resourceconnector
  x-plane: mgmt
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          $ref: "#/components/schemas/CreatedByType"
          description: 'The type of identity that created the resource. Known values are: "User", "Application", "ManagedIdentity", and "Key".'
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          $ref: "#/components/schemas/CreatedByType"
          description: 'The type of identity that last modified the resource. Known values are: "User", "Application", "ManagedIdentity", and "Key".'
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC).
    CreatedByType:
      type: string
      enum:
        - User
        - Application
        - ManagedIdentity
        - Key
    ApplianceProperties:
      type: object
      description: Properties for an appliance.
      properties:
        distro:
          $ref: "#/components/schemas/Distro"
          description: Represents a supported Fabric/Infra. (AKSEdge etc...). "AKSEdge"
        infrastructureConfig:
          $ref: "#/components/schemas/AppliancePropertiesInfrastructureConfig"
          description: Contains infrastructure information about the Appliance.
        provisioningState:
          type: string
          description: The current deployment or provisioning state, which only appears in the response.
        publicKey:
          type: string
          description: Certificates pair used to download MSI certificate from HIS. Can only be set once.
        status:
          $ref: "#/components/schemas/Status"
          description: 'Appliance’s health and state of connection to on-prem. This list of values is not exhaustive. Known values are: "WaitingForHeartbeat", "Validating", "Connecting", "Connected", "Running", "PreparingForUpgrade", "ETCDSnapshotFailed", "UpgradePrerequisitesCompleted", "ValidatingSFSConnectivity", "ValidatingImageDownload", "ValidatingImageUpload", "ValidatingETCDHealth", "PreUpgrade", "UpgradingKVAIO", "WaitingForKVAIO", "ImagePending", "ImageProvisioning", "ImageProvisioned", "ImageDownloading", "ImageDownloaded", "ImageDeprovisioning", "ImageUnknown", "UpdatingCloudOperator", "WaitingForCloudOperator", "UpdatingCAPI", "UpdatingCluster", "PostUpgrade", "UpgradeComplete", "UpgradeClusterExtensionFailedToDelete", "UpgradeFailed", "Offline", "None", "NetworkProxyUpdatePreparing", "NetworkProxyUpdating", "NetworkProxyUpdateComplete", "NetworkProxyUpdateFailed", "NetworkDNSUpdatePreparing", "NetworkDNSUpdating", "NetworkDNSUpdateComplete", "NetworkDNSUpdateFailed", "ArcGatewayUpdatePreparing", "ArcGatewayUpdating", "ArcGatewayUpdateComplete", and "ArcGatewayUpdateFailed".'
        version:
          type: string
          description: Version of the Appliance.
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
          description: A list of events that occurred on the Appliance to relay information to the user.
        networkProfile:
          $ref: "#/components/schemas/NetworkProfile"
          description: Contains network information about the Appliance.
    Distro:
      type: string
      enum:
        - AKSEdge
    AppliancePropertiesInfrastructureConfig:
      type: object
      description: Contains infrastructure information about the Appliance.
      properties:
        provider:
          $ref: "#/components/schemas/Provider"
          description: 'Information about the connected appliance. Known values are: "VMWare", "HCI", and "SCVMM".'
    Provider:
      type: string
      enum:
        - VMWare
        - HCI
        - SCVMM
    Status:
      type: string
      enum:
        - WaitingForHeartbeat
        - Validating
        - Connecting
        - Connected
        - Running
        - PreparingForUpgrade
        - ETCDSnapshotFailed
        - UpgradePrerequisitesCompleted
        - ValidatingSFSConnectivity
        - ValidatingImageDownload
        - ValidatingImageUpload
        - ValidatingETCDHealth
        - PreUpgrade
        - UpgradingKVAIO
        - WaitingForKVAIO
        - ImagePending
        - ImageProvisioning
        - ImageProvisioned
        - ImageDownloading
        - ImageDownloaded
        - ImageDeprovisioning
        - ImageUnknown
        - UpdatingCloudOperator
        - WaitingForCloudOperator
        - UpdatingCAPI
        - UpdatingCluster
        - PostUpgrade
        - UpgradeComplete
        - UpgradeClusterExtensionFailedToDelete
        - UpgradeFailed
        - Offline
        - None
        - NetworkProxyUpdatePreparing
        - NetworkProxyUpdating
        - NetworkProxyUpdateComplete
        - NetworkProxyUpdateFailed
        - NetworkDNSUpdatePreparing
        - NetworkDNSUpdating
        - NetworkDNSUpdateComplete
        - NetworkDNSUpdateFailed
        - ArcGatewayUpdatePreparing
        - ArcGatewayUpdating
        - ArcGatewayUpdateComplete
        - ArcGatewayUpdateFailed
    Event:
      type: object
      description: Event contains information about customer driven, platform driven, or unplanned events that occurred on the Appliance.
      properties:
        type:
          type: string
          description: The type of event is used to classify how the event was initiated.
        code:
          type: string
          description: Code is used to break down the event further to identify why it occurred.
        status:
          type: string
          description: Status is used to represent the outcome of the event.
        message:
          type: string
          description: Message is intended to be actionable and should be used to inform the user of the event.
        severity:
          type: string
          description: Severity is the classification of the event to relay the importance of the event.
        timestamp:
          type: string
          format: date-time
          description: Timestamp is the time the event occurred.
    NetworkProfile:
      type: object
      description: Contains network information about the Appliance.
      properties:
        proxyConfiguration:
          $ref: "#/components/schemas/ProxyConfiguration"
          description: Contains proxy information about the Appliance.
        dnsConfiguration:
          $ref: "#/components/schemas/DnsConfiguration"
          description: Contains DNS information about the Appliance.
        gatewayConfiguration:
          $ref: "#/components/schemas/GatewayConfiguration"
          description: Contains Arc Gateway information about the Appliance.
    ProxyConfiguration:
      type: object
      description: Contains proxy information about the Appliance.
      properties:
        version:
          type: string
          description: Version of the proxy configuration.
    DnsConfiguration:
      type: object
      description: Contains DNS information about the Appliance.
      properties:
        version:
          type: string
          description: Version of the DNS configuration.
    GatewayConfiguration:
      type: object
      description: Contains Arc Gateway information about the Appliance.
      properties:
        version:
          type: string
          description: Version of the Arc Gateway configuration.
    Identity:
      type: object
      description: Identity for the resource.
      properties:
        principalId:
          type: string
          description: The principal ID of resource identity.
        tenantId:
          type: string
          description: The tenant ID of resource.
        type:
          $ref: "#/components/schemas/ResourceIdentityType"
          description: 'The identity type. Known values are: "SystemAssigned" and "None".'
    ResourceIdentityType:
      type: string
      enum:
        - SystemAssigned
        - None
    ApplianceFlattened:
      type: object
      description: Flattened view of Appliance ('properties' hoisted to the top level).
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}.
        name:
          type: string
          description: The name of the resource.
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts".
        systemData:
          $ref: "#/components/schemas/SystemData"
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
        tags:
          type: object
          properties: {}
          description: Resource tags.
        location:
          type: string
          description: The geo-location where the resource lives. Required.
        identity:
          $ref: "#/components/schemas/Identity"
          description: Identity for the resource.
        distro:
          $ref: "#/components/schemas/Distro"
          description: Represents a supported Fabric/Infra. (AKSEdge etc...). "AKSEdge"
        infrastructureConfig:
          $ref: "#/components/schemas/AppliancePropertiesInfrastructureConfig"
          description: Contains infrastructure information about the Appliance.
        provisioningState:
          type: string
          description: The current deployment or provisioning state, which only appears in the response.
        publicKey:
          type: string
          description: Certificates pair used to download MSI certificate from HIS. Can only be set once.
        status:
          $ref: "#/components/schemas/Status"
          description: 'Appliance’s health and state of connection to on-prem. This list of values is not exhaustive. Known values are: "WaitingForHeartbeat", "Validating", "Connecting", "Connected", "Running", "PreparingForUpgrade", "ETCDSnapshotFailed", "UpgradePrerequisitesCompleted", "ValidatingSFSConnectivity", "ValidatingImageDownload", "ValidatingImageUpload", "ValidatingETCDHealth", "PreUpgrade", "UpgradingKVAIO", "WaitingForKVAIO", "ImagePending", "ImageProvisioning", "ImageProvisioned", "ImageDownloading", "ImageDownloaded", "ImageDeprovisioning", "ImageUnknown", "UpdatingCloudOperator", "WaitingForCloudOperator", "UpdatingCAPI", "UpdatingCluster", "PostUpgrade", "UpgradeComplete", "UpgradeClusterExtensionFailedToDelete", "UpgradeFailed", "Offline", "None", "NetworkProxyUpdatePreparing", "NetworkProxyUpdating", "NetworkProxyUpdateComplete", "NetworkProxyUpdateFailed", "NetworkDNSUpdatePreparing", "NetworkDNSUpdating", "NetworkDNSUpdateComplete", "NetworkDNSUpdateFailed", "ArcGatewayUpdatePreparing", "ArcGatewayUpdating", "ArcGatewayUpdateComplete", and "ArcGatewayUpdateFailed".'
        version:
          type: string
          description: Version of the Appliance.
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
          description: A list of events that occurred on the Appliance to relay information to the user.
        networkProfile:
          $ref: "#/components/schemas/NetworkProfile"
          description: Contains network information about the Appliance.
    PagedApplianceFlattened:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/ApplianceFlattened"
        nextLink:
          type: string
    Appliance:
      type: object
      description: Appliances definition.
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}.
        name:
          type: string
          description: The name of the resource.
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts".
        systemData:
          $ref: "#/components/schemas/SystemData"
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
        tags:
          type: object
          properties: {}
          description: Resource tags.
        location:
          type: string
          description: The geo-location where the resource lives. Required.
        properties:
          $ref: "#/components/schemas/ApplianceProperties"
          description: The set of properties specific to an Appliance.
        identity:
          $ref: "#/components/schemas/Identity"
          description: Identity for the resource.
      required:
        - location
    HybridConnectionConfig:
      type: object
      description: Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).
      properties:
        expirationTime:
          type: integer
          description: Timestamp when this token will be expired.
        hybridConnectionName:
          type: string
          description: Name of the connection.
        relay:
          type: string
          description: Name of the notification service.
        token:
          type: string
          description: Listener access token.
    ApplianceCredentialKubeconfig:
      type: object
      description: Cluster User Credential appliance.
      properties:
        name:
          $ref: "#/components/schemas/AccessProfileType"
          description: 'Name which contains the role of the kubeconfig. Known values are: "clusterUser" and "clusterCustomerUser".'
        value:
          type: string
          description: Contains the kubeconfig value.
    AccessProfileType:
      type: string
      enum:
        - clusterUser
        - clusterCustomerUser
    ApplianceListCredentialResults:
      type: object
      description: The List Cluster User Credential appliance.
      properties:
        hybridConnectionConfig:
          $ref: "#/components/schemas/HybridConnectionConfig"
          description: Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).
        kubeconfigs:
          type: array
          items:
            $ref: "#/components/schemas/ApplianceCredentialKubeconfig"
          description: The list of appliance kubeconfigs.
    ApplianceListKeysResults:
      type: object
      description: The List Cluster Keys Results appliance.
      properties:
        artifactProfiles:
          type: object
          properties: {}
          description: Map of artifacts that contains a list of ArtifactProfile used to upload artifacts such as logs.
        kubeconfigs:
          type: array
          items:
            $ref: "#/components/schemas/ApplianceCredentialKubeconfig"
          description: The list of appliance kubeconfigs.
        sshKeys:
          type: object
          properties: {}
          description: Map of Customer User Public, Private SSH Keys and Certificate when available.
    ApplianceOperationValueDisplay:
      type: object
      description: Describes the properties of an Appliances Operation Value Display.
      properties:
        description:
          type: string
          description: The description of the operation.
        operation:
          type: string
          description: The display name of the compute operation.
        provider:
          type: string
          description: The resource provider for the operation.
        resource:
          type: string
          description: The display name of the resource the operation applies to.
    ApplianceOperation:
      type: object
      description: Appliances operation.
      properties:
        display:
          $ref: "#/components/schemas/ApplianceOperationValueDisplay"
          description: Describes the properties of an Appliances Operation Value Display.
        isDataAction:
          type: boolean
          description: Is this Operation a data plane operation.
        name:
          type: string
          description: The name of the compute operation.
        origin:
          type: string
          description: The origin of the compute operation.
    PagedApplianceOperation:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/ApplianceOperation"
        nextLink:
          type: string
    UpgradeGraphProperties:
      type: object
      description: The Upgrade Graph Properties for appliance.
      properties:
        applianceVersion:
          type: string
          description: The current appliance version.
        supportedVersions:
          type: array
          items:
            $ref: "#/components/schemas/SupportedVersion"
          description: This contains the current version and supported upgrade versions.
    SupportedVersion:
      type: object
      description: The SupportedVersion object for appliance.
      properties:
        metadata:
          $ref: "#/components/schemas/SupportedVersionMetadata"
          description: This is the metadata of the supported newer version.
        version:
          type: string
          description: The newer version available for upgrade.
    SupportedVersionMetadata:
      type: object
      description: The SupportedVersionMetadata object for appliance.
      properties:
        catalogVersion:
          $ref: "#/components/schemas/SupportedVersionCatalogVersion"
          description: The newer supported version catalog version.
    SupportedVersionCatalogVersion:
      type: object
      description: The SupportedVersionCatalogVersion object for appliance.
      properties:
        data:
          $ref: "#/components/schemas/SupportedVersionCatalogVersionData"
          description: The newer supported version catalog version data.
        name:
          type: string
          description: The catalog version name for the version available for upgrade.
        namespace:
          type: string
          description: The catalog version namespace for the version available for upgrade.
    SupportedVersionCatalogVersionData:
      type: object
      description: The SupportedVersionCatalogVersionData object for appliance.
      properties:
        audience:
          type: string
          description: The image audience name for the version available for upgrade.
        catalog:
          type: string
          description: The image catalog name for the version available for upgrade.
        offer:
          type: string
          description: The image offer name for the version available for upgrade.
        version:
          type: string
          description: The image version for the version available for upgrade.
    UpgradeGraphFlattened:
      type: object
      description: Flattened view of UpgradeGraph ('properties' hoisted to the top level).
      properties:
        id:
          type: string
          description: The appliance resource path.
        name:
          type: string
          description: The release train name.
        applianceVersion:
          type: string
          description: The current appliance version.
        supportedVersions:
          type: array
          items:
            $ref: "#/components/schemas/SupportedVersion"
          description: This contains the current version and supported upgrade versions.
    ApplianceGetTelemetryConfigResult:
      type: object
      description: The Get Telemetry Config Result appliance.
      properties:
        telemetryInstrumentationKey:
          type: string
          description: Telemetry instrumentation key.
  x-stackQL-resources:
    appliances:
      id: azure.resource_connector.appliances
      name: appliances
      title: appliances
      methods:
        get:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: '{{ $row := . }}{ {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }'
        create_or_update:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}?api-version=2025-03-01-preview/put"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
          config:
            requestBodyTranslate:
              algorithm: naive
        update:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}?api-version=2025-03-01-preview/patch"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
        delete:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}?api-version=2025-03-01-preview/delete"
          response:
            openAPIDocKey: "204"
        list_by_resource_group:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: |-
                {"value": [
                {{- range $i, $row := index . "value" }}{{ if $i }},{{ end }}
                  { {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }
                {{- end }}
                ], "nextLink": {{ toJson (index . "nextLink") }}}
        list_by_subscription:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1providers~1Microsoft.ResourceConnector~1appliances?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: |-
                {"value": [
                {{- range $i, $row := index . "value" }}{{ if $i }},{{ end }}
                  { {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }
                {{- end }}
                ], "nextLink": {{ toJson (index . "nextLink") }}}
        list_cluster_user_credential:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}~1listClusterUserCredential?api-version=2025-03-01-preview/post"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
        list_keys:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}~1listkeys?api-version=2025-03-01-preview/post"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
        list_operations:
          operation:
            $ref: "#/paths/~1providers~1Microsoft.ResourceConnector~1operations?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
        get_upgrade_graph:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Microsoft.ResourceConnector~1appliances~1{resource_name}~1upgradeGraphs~1{upgrade_graph}?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: '{{ $row := . }}{ {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }'
        get_telemetry_config:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1providers~1Microsoft.ResourceConnector~1telemetryconfig?api-version=2025-03-01-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
      sqlVerbs:
        select:
          - $ref: "#/components/x-stackQL-resources/appliances/methods/get_upgrade_graph"
          - $ref: "#/components/x-stackQL-resources/appliances/methods/get"
          - $ref: "#/components/x-stackQL-resources/appliances/methods/list_by_resource_group"
          - $ref: "#/components/x-stackQL-resources/appliances/methods/list_by_subscription"
          - $ref: "#/components/x-stackQL-resources/appliances/methods/list_operations"
        insert:
          - $ref: "#/components/x-stackQL-resources/appliances/methods/create_or_update"
        update:
          - $ref: "#/components/x-stackQL-resources/appliances/methods/update"
        replace:
          - $ref: "#/components/x-stackQL-resources/appliances/methods/create_or_update"
        delete:
          - $ref: "#/components/x-stackQL-resources/appliances/methods/delete"
paths:
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.ResourceConnector/appliances/{resource_name}?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_get
      description: Gets an Appliance. Gets the details of an Appliance with a specified resource group and name.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplianceFlattened"
    put:
      operationId: Appliances_begin_create_or_update
      description: Creates or updates an Appliance. Creates or updates an Appliance in the specified Subscription and Resource Group.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  properties: {}
                  description: Resource tags.
                location:
                  type: string
                  description: The geo-location where the resource lives. Required.
                properties:
                  $ref: "#/components/schemas/ApplianceProperties"
                  description: The set of properties specific to an Appliance.
                identity:
                  $ref: "#/components/schemas/Identity"
                  description: Identity for the resource.
              required:
                - location
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appliance"
    patch:
      operationId: Appliances_update
      description: Updates an Appliance. Updates an Appliance with the specified Resource Name in the specified Resource Group and Subscription.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appliance"
    delete:
      operationId: Appliances_begin_delete
      description: Deletes an Appliance. Deletes an Appliance with the specified Resource Name, Resource Group, and Subscription Id.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success (no content / accepted)
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.ResourceConnector/appliances?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_list_by_resource_group
      description: Gets a list of Appliances in the specified subscription and resource group. Gets a list of Appliances in the specified subscription and resource group. The operation returns properties of each Appliance.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedApplianceFlattened"
  /subscriptions/{subscription_id}/providers/Microsoft.ResourceConnector/appliances?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_list_by_subscription
      description: Gets a list of Appliances in a subscription. Gets a list of Appliances in the specified subscription. The operation returns properties of each Appliance.
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedApplianceFlattened"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.ResourceConnector/appliances/{resource_name}/listClusterUserCredential?api-version=2025-03-01-preview:
    post:
      operationId: Appliances_list_cluster_user_credential
      description: Returns the cluster user credential. Returns the cluster user credentials for the dedicated appliance.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplianceListCredentialResults"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.ResourceConnector/appliances/{resource_name}/listkeys?api-version=2025-03-01-preview:
    post:
      operationId: Appliances_list_keys
      description: Gets the management config. Returns the cluster customer credentials for the dedicated appliance.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
        - name: artifactType
          in: query
          required: false
          schema:
            type: string
          description: This sets the type of artifact being returned, when empty no artifact endpoint is returned. Default value is None.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplianceListKeysResults"
  /providers/Microsoft.ResourceConnector/operations?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_list_operations
      description: Lists all available Appliances operations.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedApplianceOperation"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.ResourceConnector/appliances/{resource_name}/upgradeGraphs/{upgrade_graph}?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_get_upgrade_graph
      description: Gets an Appliance upgrade graph. Gets the upgrade graph of an Appliance with a specified resource group and name and specific release train.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: resource_name
          in: path
          required: true
          schema:
            type: string
          description: Appliances name. Required.
        - name: upgrade_graph
          in: path
          required: true
          schema:
            type: string
          description: Upgrade graph version, ex - stable. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeGraphFlattened"
  /subscriptions/{subscription_id}/providers/Microsoft.ResourceConnector/telemetryconfig?api-version=2025-03-01-preview:
    get:
      operationId: Appliances_get_telemetry_config
      description: Gets the telemetry config. Gets the telemetry config.
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplianceGetTelemetryConfigResult"
