openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Napster Omni Agent API
  description: Napster Omni AI agent platform - an Azure Native ISV Service.
  contact:
    name: StackQL Studios
    url: https://stackql.io/
    email: info@stackql.io
  version: 2025-12-24-preview-stackql-generated
  x-serviceAlias: napster_omni_agent_api
  x-sdkPackage: azure-mgmt-napsteromniagentapi
  x-plane: mgmt
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationDisplay:
      type: object
      description: Localized display information for an operation.
      properties:
        provider:
          type: string
          description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
        resource:
          type: string
          description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
        operation:
          type: string
          description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
        description:
          type: string
          description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
    Origin:
      type: string
      enum:
        - user
        - system
        - user,system
    ActionType:
      type: string
      enum:
        - Internal
    Operation:
      type: object
      description: REST API Operation.
      properties:
        name:
          type: string
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action".'
        isDataAction:
          type: boolean
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for Azure Resource Manager/control-plane operations.
        display:
          $ref: "#/components/schemas/OperationDisplay"
          description: Localized display information for this particular operation.
        origin:
          $ref: "#/components/schemas/Origin"
          description: 'The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system". Known values are: "user", "system", and "user,system".'
        actionType:
          $ref: "#/components/schemas/ActionType"
          description: Extensible enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs. "Internal"
    PagedOperation:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/Operation"
        nextLink:
          type: string
    SystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          $ref: "#/components/schemas/CreatedByType"
          description: 'The type of identity that created the resource. Known values are: "User", "Application", "ManagedIdentity", and "Key".'
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          $ref: "#/components/schemas/CreatedByType"
          description: 'The type of identity that last modified the resource. Known values are: "User", "Application", "ManagedIdentity", and "Key".'
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC).
    CreatedByType:
      type: string
      enum:
        - User
        - Application
        - ManagedIdentity
        - Key
    OrganizationProperties:
      type: object
      description: Properties specific to Organization.
      properties:
        marketplace:
          $ref: "#/components/schemas/MarketplaceDetails"
          description: Marketplace details of the resource. Required.
        user:
          $ref: "#/components/schemas/UserDetails"
          description: Details of the user. Required.
        provisioningState:
          $ref: "#/components/schemas/ResourceProvisioningState"
          description: 'Provisioning state of the resource. Known values are: "Succeeded", "Failed", and "Canceled".'
        partnerProperties:
          $ref: "#/components/schemas/PartnerProperties"
          description: partner properties. Required.
        singleSignOnProperties:
          $ref: "#/components/schemas/SingleSignOnPropertiesV2"
          description: Single sign-on properties.
      required:
        - marketplace
        - user
        - partnerProperties
    MarketplaceDetails:
      type: object
      description: Marketplace details for an organization.
      properties:
        subscriptionId:
          type: string
          description: Azure subscription id for the the marketplace offer is purchased from.
        subscriptionStatus:
          $ref: "#/components/schemas/MarketplaceSubscriptionStatus"
          description: 'Marketplace subscription status. Known values are: "PendingFulfillmentStart", "Subscribed", "Suspended", and "Unsubscribed".'
        saasResourceId:
          type: string
          description: Marketplace SaaS Resource Id.
        offerDetails:
          $ref: "#/components/schemas/OfferDetails"
          description: Offer details for the marketplace that is selected by the user. Required.
      required:
        - offerDetails
    MarketplaceSubscriptionStatus:
      type: string
      enum:
        - PendingFulfillmentStart
        - Subscribed
        - Suspended
        - Unsubscribed
    OfferDetails:
      type: object
      description: Offer details for the marketplace that is selected by the user.
      properties:
        publisherId:
          type: string
          description: Publisher Id for the marketplace offer. Required.
        offerId:
          type: string
          description: Offer Id for the marketplace offer. Required.
        planId:
          type: string
          description: Plan Id for the marketplace offer.
        planName:
          type: string
          description: Plan Name for the marketplace offer.
        termUnit:
          type: string
          description: Plan Display Name for the marketplace offer.
        termId:
          type: string
          description: Plan Display Name for the marketplace offer.
      required:
        - publisherId
        - offerId
    UserDetails:
      type: object
      description: User details for an organization.
      properties:
        firstName:
          type: string
          description: First name of the user.
        lastName:
          type: string
          description: Last name of the user.
        emailAddress:
          type: string
          description: Email address of the user.
        upn:
          type: string
          description: User's principal name.
        phoneNumber:
          type: string
          description: User's phone number.
    ResourceProvisioningState:
      type: string
      enum:
        - Succeeded
        - Failed
        - Canceled
    PartnerProperties:
      type: object
      description: Partner's specific Properties.
      properties:
        application:
          type: string
          description: Application name. Required.
      required:
        - application
    SingleSignOnPropertiesV2:
      type: object
      description: Properties specific to Single Sign On Resource.
      properties:
        type:
          $ref: "#/components/schemas/SingleSignOnType"
          description: 'Type of Single Sign-On mechanism being used. Required. Known values are: "Saml" and "OpenId".'
        state:
          $ref: "#/components/schemas/SingleSignOnStates"
          description: 'State of the Single Sign On for the resource. Known values are: "Initial", "Enable", and "Disable".'
        enterpriseAppId:
          type: string
          description: AAD enterprise application Id used to setup SSO.
        url:
          type: string
          description: URL for SSO to be used by the partner to redirect the user to their system.
        aadDomains:
          type: array
          items:
            type: string
          description: List of AAD domains fetched from Microsoft Graph for user.
      required:
        - type
    SingleSignOnType:
      type: string
      enum:
        - Saml
        - OpenId
    SingleSignOnStates:
      type: string
      enum:
        - Initial
        - Enable
        - Disable
    ManagedServiceIdentity:
      type: object
      description: Managed service identity (system assigned and/or user assigned identities).
      properties:
        principalId:
          type: string
          description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
        tenantId:
          type: string
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
        type:
          $ref: "#/components/schemas/ManagedServiceIdentityType"
          description: 'The type of managed identity assigned to this resource. Required. Known values are: "None", "SystemAssigned", "UserAssigned", and "SystemAssigned,UserAssigned".'
        userAssignedIdentities:
          type: object
          properties: {}
          description: The identities assigned to this resource by the user.
      required:
        - type
    ManagedServiceIdentityType:
      type: string
      enum:
        - None
        - SystemAssigned
        - UserAssigned
        - SystemAssigned,UserAssigned
    OrganizationResourceFlattened:
      type: object
      description: Flattened view of OrganizationResource ('properties' hoisted to the top level).
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}.
        name:
          type: string
          description: The name of the resource.
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts".
        systemData:
          $ref: "#/components/schemas/SystemData"
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
        tags:
          type: object
          properties: {}
          description: Resource tags.
        location:
          type: string
          description: The geo-location where the resource lives. Required.
        identity:
          $ref: "#/components/schemas/ManagedServiceIdentity"
          description: The managed service identities assigned to this resource.
        marketplace:
          $ref: "#/components/schemas/MarketplaceDetails"
          description: Marketplace details of the resource. Required.
        user:
          $ref: "#/components/schemas/UserDetails"
          description: Details of the user. Required.
        provisioningState:
          $ref: "#/components/schemas/ResourceProvisioningState"
          description: 'Provisioning state of the resource. Known values are: "Succeeded", "Failed", and "Canceled".'
        partnerProperties:
          $ref: "#/components/schemas/PartnerProperties"
          description: partner properties. Required.
        singleSignOnProperties:
          $ref: "#/components/schemas/SingleSignOnPropertiesV2"
          description: Single sign-on properties.
    PagedOrganizationResourceFlattened:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationResourceFlattened"
        nextLink:
          type: string
    OrganizationResource:
      type: object
      description: Concrete tracked resource types can be created by aliasing this type using a specific property type.
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}.
        name:
          type: string
          description: The name of the resource.
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts".
        systemData:
          $ref: "#/components/schemas/SystemData"
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
        tags:
          type: object
          properties: {}
          description: Resource tags.
        location:
          type: string
          description: The geo-location where the resource lives. Required.
        properties:
          $ref: "#/components/schemas/OrganizationProperties"
          description: The resource-specific properties for this resource.
        identity:
          $ref: "#/components/schemas/ManagedServiceIdentity"
          description: The managed service identities assigned to this resource.
      required:
        - location
    LatestLinkedSaaSResponse:
      type: object
      description: Response of get latest linked SaaS resource operation.
      properties:
        saaSResourceId:
          type: string
          description: SaaS resource id.
        isHiddenSaaS:
          type: boolean
          description: Flag indicating if the SaaS resource is hidden.
    SaaSResourceDetailsResponse:
      type: object
      description: Marketplace SaaS resource details.
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}.
        name:
          type: string
          description: The name of the resource.
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts".
        systemData:
          $ref: "#/components/schemas/SystemData"
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
        saasId:
          type: string
          description: Id of the Marketplace SaaS Resource.
  x-stackQL-resources:
    operations:
      id: azure_isv.napster_omni_agent_api.operations
      name: operations
      title: operations
      methods:
        list:
          operation:
            $ref: "#/paths/~1providers~1Napster.CompanionAPI~1operations?api-version=2025-12-24-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: "#/components/x-stackQL-resources/operations/methods/list"
        insert: []
        update: []
        delete: []
    organizations:
      id: azure_isv.napster_omni_agent_api.organizations
      name: organizations
      title: organizations
      methods:
        get:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}?api-version=2025-12-24-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: '{{ $row := . }}{ {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }'
        create_or_update:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}?api-version=2025-12-24-preview/put"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
          config:
            requestBodyTranslate:
              algorithm: naive
        update:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}?api-version=2025-12-24-preview/patch"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
          config:
            requestBodyTranslate:
              algorithm: naive
        delete:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}?api-version=2025-12-24-preview/delete"
          response:
            openAPIDocKey: "204"
        list_by_resource_group:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations?api-version=2025-12-24-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: |-
                {"value": [
                {{- range $i, $row := index . "value" }}{{ if $i }},{{ end }}
                  { {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }
                {{- end }}
                ], "nextLink": {{ toJson (index . "nextLink") }}}
        list_by_subscription:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1providers~1Napster.CompanionAPI~1organizations?api-version=2025-12-24-preview/get"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
            objectKey: $.value
            overrideMediaType: application/json
            transform:
              type: golang_template_json_v0.3.0
              body: |-
                {"value": [
                {{- range $i, $row := index . "value" }}{{ if $i }},{{ end }}
                  { {{ $p := index $row "properties" }}{{ if eq (kindOf $p) "map" }}{{ range $k, $v := $p }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}{{ end }}{{ range $k, $v := $row }}{{ printf "%q" $k }}: {{ toJson $v }}, {{ end }}"_flattened": true }
                {{- end }}
                ], "nextLink": {{ toJson (index . "nextLink") }}}
        link_saas:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}~1linkSaaS?api-version=2025-12-24-preview/post"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
          config:
            requestBodyTranslate:
              algorithm: naive
        latest_linked_saas:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1resourceGroups~1{resource_group_name}~1providers~1Napster.CompanionAPI~1organizations~1{organizationname}~1latestLinkedSaaS?api-version=2025-12-24-preview/post"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
      sqlVerbs:
        select:
          - $ref: "#/components/x-stackQL-resources/organizations/methods/get"
          - $ref: "#/components/x-stackQL-resources/organizations/methods/list_by_resource_group"
          - $ref: "#/components/x-stackQL-resources/organizations/methods/list_by_subscription"
        insert:
          - $ref: "#/components/x-stackQL-resources/organizations/methods/create_or_update"
        update:
          - $ref: "#/components/x-stackQL-resources/organizations/methods/update"
        replace:
          - $ref: "#/components/x-stackQL-resources/organizations/methods/create_or_update"
        delete:
          - $ref: "#/components/x-stackQL-resources/organizations/methods/delete"
    saas_operation_group:
      id: azure_isv.napster_omni_agent_api.saas_operation_group
      name: saas_operation_group
      title: saas_operation_group
      methods:
        activate_resource:
          operation:
            $ref: "#/paths/~1subscriptions~1{subscription_id}~1providers~1Napster.CompanionAPI~1activateSaaS?api-version=2025-12-24-preview/post"
          response:
            openAPIDocKey: "200"
            mediaType: application/json
          request:
            nativeCasing: camel
          config:
            requestBodyTranslate:
              algorithm: naive
      sqlVerbs:
        select: []
        insert: []
        update: []
        delete: []
paths:
  /providers/Napster.CompanionAPI/operations?api-version=2025-12-24-preview:
    get:
      operationId: napsteromniagentapi_list
      description: List the operations for the provider.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedOperation"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Napster.CompanionAPI/organizations/{organizationname}?api-version=2025-12-24-preview:
    get:
      operationId: Organizations_get
      description: Get a OrganizationResource.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResourceFlattened"
    put:
      operationId: Organizations_begin_create_or_update
      description: Create a OrganizationResource.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  properties: {}
                  description: Resource tags.
                location:
                  type: string
                  description: The geo-location where the resource lives. Required.
                properties:
                  $ref: "#/components/schemas/OrganizationProperties"
                  description: The resource-specific properties for this resource.
                identity:
                  $ref: "#/components/schemas/ManagedServiceIdentity"
                  description: The managed service identities assigned to this resource.
              required:
                - location
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResource"
    patch:
      operationId: Organizations_begin_update
      description: Update a OrganizationResource.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  properties: {}
                  description: Resource tags.
                identity:
                  $ref: "#/components/schemas/ManagedServiceIdentity"
                  description: The managed service identities assigned to this resource.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResource"
    delete:
      operationId: Organizations_begin_delete
      description: Delete a OrganizationResource.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success (no content / accepted)
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Napster.CompanionAPI/organizations?api-version=2025-12-24-preview:
    get:
      operationId: Organizations_list_by_resource_group
      description: List OrganizationResource resources by resource group.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedOrganizationResourceFlattened"
  /subscriptions/{subscription_id}/providers/Napster.CompanionAPI/organizations?api-version=2025-12-24-preview:
    get:
      operationId: Organizations_list_by_subscription
      description: List OrganizationResource resources by subscription ID.
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedOrganizationResourceFlattened"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Napster.CompanionAPI/organizations/{organizationname}/linkSaaS?api-version=2025-12-24-preview:
    post:
      operationId: Organizations_begin_link_saas
      description: Links a new SaaS to the Napster organization of the underlying monitor. Links a new SaaS to the Napster organization of the underlying monitor.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                saaSResourceId:
                  type: string
                  description: SaaS resource id.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResource"
  /subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Napster.CompanionAPI/organizations/{organizationname}/latestLinkedSaaS?api-version=2025-12-24-preview:
    post:
      operationId: Organizations_latest_linked_saas
      description: Returns the latest SaaS linked to the Napster organization of the underlying monitor.
      parameters:
        - name: resource_group_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the resource group. The name is case insensitive. Required.
        - name: organizationname
          in: path
          required: true
          schema:
            type: string
          description: Name of the Organization resource. Required.
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestLinkedSaaSResponse"
  /subscriptions/{subscription_id}/providers/Napster.CompanionAPI/activateSaaS?api-version=2025-12-24-preview:
    post:
      operationId: SaaSOperationGroup_begin_activate_resource
      description: Resolve the token to get the SaaS resource ID and activate the SaaS resource.
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                saasGuid:
                  type: string
                  description: SaaS guid for Activate and Validate SaaS Resource. Required.
                publisherId:
                  type: string
                  description: Publisher Id for Napster resource.
              required:
                - saasGuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaaSResourceDetailsResponse"
