openapi: 3.0.3
info:
  title: cloud_connector API
  description: >-
    Welcome to Cloudflare's API documentation site. We are experimenting with an
    updated version of our API documentation - check out
    [developers.cloudflare.com/api-next/](https://developers.cloudflare.com/api-next/)
    to test out the new experience. To get started using Cloudflare's products
    and services via the API, refer to [how to interact with
    Cloudflare](https://developers.cloudflare.com/fundamentals/basic-tasks/interact-with-cloudflare/),
    which covers using tools like
    [Terraform](https://developers.cloudflare.com/terraform/#cloudflare-terraform)
    and the [official
    SDKs](https://developers.cloudflare.com/fundamentals/api/reference/sdks/) to
    maintain your Cloudflare resources. Using the Cloudflare API requires
    authentication so that Cloudflare knows who is making requests and what
    permissions you have. Create an API token to grant access to the API to
    perform actions. You can also authenticate with [API
    keys](https://developers.cloudflare.com/fundamentals/api/get-started/keys/),
    but these keys have [several
    limitations](https://developers.cloudflare.com/fundamentals/api/get-started/keys/#limitations)
    that make them less secure than API tokens. Whenever possible, use API
    tokens to interact with the Cloudflare API. To create an API token, from the
    Cloudflare dashboard, go to My Profile > API Tokens and select Create Token.
    For more information on how to create and troubleshoot API tokens, refer to
    our [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).
    For information regarding rate limits, refer to our [API Rate
    Limits](https://developers.cloudflare.com/cloudflare-for-platforms/workers-for-platforms/platform/limits/#api-rate-limits).
    Totally new to Cloudflare? [Start
    here](https://developers.cloudflare.com/fundamentals/get-started/).
  version: 4.0.0
  contact:
    name: Cloudflare
    url: https://www.cloudflare.com
servers:
  - url: https://api.cloudflare.com/client/v4
security:
  - api_token: []
paths:
  /zones/{zone_id}/cloud_connector/rules:
    get:
      operationId: zone-cloud-connector-rules
      parameters:
        - name: zone_id
          in: path
          required: true
          description: The Cloudflare zone ID.
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/cloudConnectorMessages'
                  messages:
                    $ref: '#/components/schemas/cloudConnectorMessages'
                  success:
                    description: Whether the API call was successful.
                    enum:
                      - true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/cloudConnectorRules'
                required:
                  - success
                  - errors
                  - messages
          description: Cloud Connector rules response
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudConnectorApiResponseCommonFailure'
          description: Cloud Connector response failure
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudConnectorApiResponseCommonFailure'
          description: Cloud Connector response failure
      security:
        - api_email: []
          api_key: []
      summary: Rules
      tags:
        - Zone Cloud Connector Rules GET
      x-api-token-group:
        - Cloud Connector Read
        - Cloud Connector Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
      x-stackql-sdk:
        service: cloud_connector
        resource_chain:
          - rules
        method: update
    put:
      operationId: zone-cloud-conenctor-rules-put
      parameters:
        - name: zone_id
          in: path
          required: true
          description: The Cloudflare zone ID.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/cloudConnectorRule'
              type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/cloudConnectorMessages'
                  messages:
                    $ref: '#/components/schemas/cloudConnectorMessages'
                  success:
                    description: Whether the API call was successful.
                    enum:
                      - true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/cloudConnectorRules'
                required:
                  - success
                  - errors
                  - messages
          description: Cloud Connector rules response
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudConnectorApiResponseCommonFailure'
          description: Cloud Connector response failure
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cloudConnectorApiResponseCommonFailure'
          description: Cloud Connector response failure
      security:
        - api_email: []
          api_key: []
      summary: Put Rules
      tags:
        - Zone Cloud Connector Rules PUT
      x-api-token-group:
        - Cloud Connector Write
      x-cfPlanAvailability:
        business: true
        enterprise: true
        free: true
        pro: true
components:
  schemas:
    cloudConnectorApiResponseCommonFailure:
      properties:
        errors:
          example:
            - code: 7003
              message: No route for the URI
          minLength: 1
          $ref: '#/components/schemas/cloudConnectorMessages'
        messages:
          example: []
          $ref: '#/components/schemas/cloudConnectorMessages'
        result:
          enum:
            - null
          nullable: true
          type: object
        success:
          description: Whether the API call was successful.
          enum:
            - false
          example: false
          type: boolean
      required:
        - success
        - errors
        - messages
        - result
      type: object
    cloudConnectorMessages:
      example: []
      items:
        properties:
          code:
            minimum: 1000
            type: integer
          documentation_url:
            type: string
          message:
            type: string
          source:
            properties:
              pointer:
                type: string
            type: object
        required:
          - code
          - message
        type: object
        uniqueItems: true
      type: array
    cloudConnectorProvider:
      description: Cloud Provider type
      enum:
        - aws_s3
        - cloudflare_r2
        - gcp_storage
        - azure_storage
      example: aws_s3
      type: string
      x-auditable: true
    cloudConnectorRule:
      properties:
        description:
          example: Rule description
          type: string
          x-auditable: true
        enabled:
          example: true
          type: boolean
          x-auditable: true
        expression:
          example: http.cookie eq "a=b"
          type: string
          x-auditable: true
        id:
          example: 95c365e17e1b46599cd99e5b231fac4e
          type: string
          x-auditable: true
        parameters:
          description: Parameters of Cloud Connector Rule
          properties:
            host:
              description: Host to perform Cloud Connection to
              example: examplebucket.s3.eu-north-1.amazonaws.com
              type: string
              x-auditable: true
          type: object
        provider:
          $ref: '#/components/schemas/cloudConnectorProvider'
      type: object
    cloudConnectorRules:
      description: List of Cloud Connector rules
      items:
        $ref: '#/components/schemas/cloudConnectorRule'
      type: array
  securitySchemes:
    api_email:
      in: header
      name: X-Auth-Email
      type: apiKey
      description: >-
        The previous authorization scheme for interacting with the Cloudflare
        API, used in conjunction with a Global API key.
    api_key:
      in: header
      name: X-Auth-Key
      type: apiKey
      description: >-
        The previous authorization scheme for interacting with the Cloudflare
        API. When possible, use API tokens instead of Global API keys.
    api_token:
      scheme: bearer
      type: http
      description: >-
        The preferred authorization scheme for interacting with the Cloudflare
        API. [Create a
        token](https://developers.cloudflare.com/fundamentals/api/get-started/create-token/).
    user_service_key:
      in: header
      name: X-Auth-User-Service-Key
      type: apiKey
      description: >-
        Used when interacting with the Origin CA certificates API. [View/change
        your
        key](https://developers.cloudflare.com/fundamentals/api/get-started/ca-keys/#viewchange-your-origin-ca-keys).
  x-stackQL-resources:
    rules:
      id: cloudflare.cloud_connector.rules
      name: rules
      title: Rules
      methods:
        list:
          operation:
            $ref: '#/paths/~1zones~1{zone_id}~1cloud_connector~1rules/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            objectKey: $.result
        zone_cloud_conenctor_rules_put:
          config:
            requestBodyTranslate:
              algorithm: naive
          operation:
            $ref: '#/paths/~1zones~1{zone_id}~1cloud_connector~1rules/put'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/rules/methods/list'
        insert: []
        update: []
        delete: []
        replace:
          - $ref: >-
              #/components/x-stackQL-resources/rules/methods/zone_cloud_conenctor_rules_put
